/* GLOBAL STYLES*/
/* lighter body text */

body {
  color: #5a5a5a;
}

/*HOME*/
/* Section 1 - Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* Section 2 */

/* Center align the text within the three columns below the carousel */
.section2 .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.section2 h2 {
  font-weight: 400;
}
.section2 .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Section 3 */

section3-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

section3-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

section3-image {
    width: 500px;
    height: 500px;
    margin: auto;    
    display: block;
}

/* Responsive CSS */
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .section1-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  section3-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  section3-heading {
    margin-top: 7rem;
  }
}

/*RESOURCES*/
.advisors ul {
  list-style-type: none;
}

.advisors ul a {
  padding-bottom:50px;
}

/*AMBASSADORS & EVENTS*/
.column2 {
  float: left;
  width: 50%;
}

.column3 {
  float: left;
  width: 33.33%;
}

.row {
    padding-bottom:40px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*EVENTS*/
.events h2 {
  background-color:#ea1f2a;
  color:#ffffff;
  padding:30px;
  margin:0 30px;
}

.events .embed-responsive {
  padding:30px;
}

.events p {
  padding:30px 30px 0;
}

.events ul {
  padding: 30px 0;
  margin: 0 0 0 100px;
}

/*GENERAL*/
.navbar {
    background-color: #2D2926;
    overflow: hidden;
    padding-right: 20px;
}

.navbar a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav-left {
  color: #ffffff;
}

.topnav-left a{
  font-size: 48px;
}

.topnav-right a:hover {
  background-color: #CC0000;
  color: #ffffff;
}

.topnav-right {
  float: right;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav-right .icon {
  display: none;
}

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav-right a {
    display: none;
  }
  .topnav-right a .icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav-right .responsive {
    position: relative;
  }
  .topnav-right .copyright a .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav-right .responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.link a{
  color: #CC0000;
}

.link a:hover {
  text-decoration: none;
}

.footer-dark {
  text-align:center;
  padding:25px 0 5px 0;
  color:#ffffff;
  background-color:#2D2926;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
  padding-top:5px;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#ffffff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:10px;
  opacity:0.3;
  font-size:13px;
}