{% extends "layout.html" %}

{% block title %}
Admin Panel
{% endblock %}

{% block main %}
    <p>Admin Panel Placeholder</p>

    <h6>Promote a user to admin:</h6>

    <form action="/admin" method="post">
        <div class="form-group m-2">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Admin email to give" type="email" required/>
        </div>
        <button class="btn btn-primary m-2" type="submit">Promote (You can't undo this!)</button>
    </form>

    <br><br>
    <h6>Send a message to all contacts:</h6>

    <form action="/sendemail" method="post">
        <div class="form-group m-2">
            <input autocomplete="off" autofocus class="form-control" name="subject" placeholder="Subject" type="text" required/>
        </div>
        <div class="form-group m-2">
            <textarea class="form-control" name="message"></textarea>
        </div>
        <button class="btn btn-primary m-2" type="submit">Send message to all contacts.</button>
    </form>
{% endblock %}