{% extends "layout.html" %}

{% block title %}
Ambassadors
{% endblock %}

{% block main %}

<h1 style="text-align:center;padding:24px;">
    Our Officers
</h1>

<div class="m-4">
  <div class="row">
    <div class="column3">
      <figure style="text-align:center;">
          <img src="../static/officers/Jack Giunta.jpg" class="img-fluid" alt="Jack Giunta.jpg" style="width:250px">
          <figcaption class="fw-bold">Jack Giunta</figcaption>
          <figcaption class="fst-italic">Director</figcaption>
          <figcaption>He/Him/His</figcaption>
      </figure>
      <p>Meet Jack Giunta! Originally from Bloomfield, NJ, Jack is a Sophomore in CAS and KHC in the BA/MS program with a minor in Psychology. He enjoys playing on BU Men’s Ultimate Frisbee Team, participating in programs through the Community Service Center, and exploring the city. He also wants to go into the FBI once he graduates and his favorite CS fields are Machine Learning and App Development. To speak more with Jack, contact him at jackrose@bu.edu</p>
    </div>
    <div class="column3">
      <figure style="text-align:center;">
          <img src="../static/officers/Kristen Lamb.jpg" class="img-fluid" alt="Kristen Lamb.jpg" style="width:250px">
          <figcaption class="fw-bold">Kristen Lamb</figcaption>
          <figcaption class="fst-italic">Organizational Officer</figcaption>
          <figcaption>She/Her/Hers</figcaption>
      </figure>
      <p>Meet Kristen Lamb! Kristen is the Organizational Officer for the year 2020. She is a sophomore from Bishop, CA, studying Computer Science. Kristen loves Data Science, Machine Learning and Cyber-security as she looks to pursue a career in one or more of these fields. She is a Course Assistant for one the freshman CS courses and loves rock climbing! To speak more with Kristen, feel free to contact her at krislamb@bu.edu</p>
    </div>
    <div class="column3">
      <figure style="text-align:center;">
          <img src="../static/officers/Kolade Adegbaye.jpg" class="img-fluid" alt="Kolade Adegbaye.jpg" style="width:250px">
          <figcaption class="fw-bold">Kolade Adegbaye</figcaption>
          <figcaption class="fst-italic">Promotional Officer</figcaption>
          <figcaption>He/Him/His</figcaption>
      </figure>
      <p>Meet Kolade Adegbaye! Kolade is the Promotional Officer for the year 2020. He is a freshman in CAS majoring in Computer Science and planning on minoring in Marketing. Originally from Canada, he resides in Philadelphia, PA. Kolade’s favorite CS fields are Data Science and Machine Learning. He is involved in the BU Pep Band playing drums and also loves to play soccer and basketball on his free time. Feel free to reach out to Kolade at koladea@bu.edu</p>
    </div>
  </div>
  <div class="row">
    <div class="column2">
      <figure style="text-align:center;">
          <img src="../static/officers/Mikky Steinberg.jpg" class="img-fluid" alt="Mikky Steinberg.jpg" style="width:250px">
          <figcaption class="fw-bold">Mikky Steinberg</figcaption>
          <figcaption class="fst-italic">Documentation Officer</figcaption>
          <figcaption>She/Her/Hers</figcaption>
      </figure>
      <p>Meet Mikayla Steinberg! Mikayla is the Documentations Officer for the year 2020. She is a freshman from East Brunswick, NJ majoring in Computer Science. Mikayla is involved in the BU community with clubs such as Girls Who Code BU, BU Dancesport and BU Hillel. She loves music and going to hockey games on her free time. Feel free to contact Mikayla at mikstein@bu.edu</p>
    </div>
    <div class="column2">
      <figure style="text-align:center;">
          <img src="../static/officers/Adit Mehta.jpg" class="img-fluid" alt="Adit Mehta.jpg" style="width:250px">
          <figcaption class="fw-bold">Adit Mehta</figcaption>
          <figcaption class="fst-italic">Compliance Officer</figcaption>
          <figcaption>He/Him/His</figcaption>
      </figure>
      <p>Meet Adit Mehta! Originally from Scarsdale, NY, Adit is a Sophomore in CAS studying CS. Adit loves to read and his favorite field of CS is Computer Systems. To speak more with Adit, contact him at aam2000@bu.edu</p>
    </div>
  </div>

  <h1 style="text-align:center;padding-bottom:24px;">
      Our Ambassadors
  </h1>

  <div class="row">
    <div class="column3">
      <figure style="text-align:center;">
          <img src="../static/ambassadors/Shateva Long.jpg" class="img-fluid" alt="Shateva Long.jpg" style="width:250px">
          <figcaption class="fw-bold">Shateva Long</figcaption>
          <figcaption>She/Her/Hers</figcaption>
      </figure>
      <p>Meet Shateva Long! Shateva is a freshman from New York City. She is in the CAS majoring in Computer Science. Her favorite field in CS is Computer Graphics. On her free time, she likes DIYs, going to the gym and holding “deep” discussions. If you have any questions for her, feel free to reach out at shateval@bu.edu.</p>
    </div>
    <div class="column3">
      <figure style="text-align:center;">
          <img src="../static/ambassadors/Vitor Vicente.jpg" class="img-fluid" alt="Vitor Vicente.jpg" style="width:250px">
          <figcaption class="fw-bold">Vitor Vicente</figcaption>
          <figcaption>He/Him/His</figcaption>
      </figure>
      <p>Meet Vitor Vicente! Vitor is a Freshman in CAS majoring in Computer Science. Vitor loves Software Engineering and is also involved with Upsilon Pi Epsilon, an International Honor Society for the Computing and Information disciplines. Victor loves to work on personal projects on his free time. To reach out to Vitor, contact him at vitor@bu.edu, facebook: Vitor Vicente.</p>
    </div>
    <div class="column3">
      <figure style="text-align:center;">
          <img src="../static/ambassadors/Tilak Agarwal.jpg" class="img-fluid" alt="Tilak Agarwal.jpg" style="width:250px">
          <figcaption class="fw-bold">Tilak Agarwal</figcaption>
          <figcaption>He/Him/His</figcaption>
      </figure>
      <p>Meet Tilak Agarwal! Tilak is freshman from Mumbai, India. He is in the CAS majoring in Computer Science. His favorite CS field is Machine learning and loves to get involved in the BU community through the Cricket club and Squash club. Feel free to reach out to Tilak at tilak02@bu.edu.</p>
    </div>
  </div>
  <div class="row">
    <div class="column3">
      <figure style="text-align:center;">
          <img src="../static/ambassadors/Neeraja Mehta.jpg" class="img-fluid" alt="Neeraja Mehta.jpg" style="width:250px">
          <figcaption class="fw-bold">Neeraja Mehta</figcaption>
          <figcaption>She/Her/Hers</figcaption>
      </figure>
      <p>Meet Neeraja Mehta! Neeraja is a Freshman from Mumbai, India. She is in CAS majoring in Computer Science. Her favorite CS field is machine learning. Neeraja enjoys Chess and loves to volunteer for students with special needs. She is also a research intern at a startup, member of WICS as well as GWC. Want to learn more about Neeraja? Feel free to contact her at neerajam@bu.edu or through the CSA website!</p>
    </div>
    <div class="column3">
      <figure style="text-align:center;">
          <img src="../static/ambassadors/Eric Chao.jpg" class="img-fluid" alt="Eric Chao.jpg" style="width:250px">
          <figcaption class="fw-bold">Eric Chao</figcaption>
          <figcaption>He/Him/His</figcaption>
      </figure>
      <p>Meet Eric Chao! Eric is a sophomore from Belmont, MA. He is in CAS majoring in Computer Science and he is interested in Networking and Systems. During his free time, Eric likes to go Rock Climbing, play the Guitar and Bass. Feel free to reach out to Eric at ericchao@bu.edu</p>
    </div>
    <div class="column3">
      <figure style="text-align:center;">
          <img src="../static/ambassadors/Manish Patel.jpg" class="img-fluid" alt="Manish Patel.jpg" style="width:250px">
          <figcaption class="fw-bold">Manish Patel</figcaption>
          <figcaption>He/Him/His</figcaption>
      </figure>
      <p>Meet Manish Patel! Originally from Edison, NJ, Manish is a Sophomore in CAS studying CS. Manish is the Secretary and Social Media Chair for the Sigma Beta Rho fraternity. His favorite aspect of CS is Cyber-Security. To speak more with Manish, contact him at mpatel27@bu.edu!</p>
    </div>
  </div>
  <div class="row">
    <div class="column3">
      <figure style="text-align:center;">
          <img src="../static/ambassadors/Shwetha Krishnan.jpg" class="img-fluid" alt="Shwetha Krishnan.jpg" style="width:250px">
          <figcaption class="fw-bold">Shwetha Krishna</figcaption>
          <figcaption>She/Her/Hers</figcaption>
      </figure>
      <p>Meet Shwetha Krishnan! Shwetha is a freshman in the CAS studying Computer Science. Originally from Mumbai, India, Shwetha is interested in Machine Learning and its applications in Economics and Psychology. Shwetha is involved in the BU arts club and loves to take part in research projects. She enjoys volunteer work including sanitation drives and helping underprivileged kids in Math and English. Feel free to reach out to her if you have any questions at shwethak@bu.edu.</p>
    </div>
    <div class="column3">
      <figure style="text-align:center;">
          <img src="../static/ambassadors/Yangdong Zhang.jpg" class="img-fluid" alt="Yangdong Zhang.jpg" style="width:250px">
          <figcaption class="fw-bold">Yangdong Zhang</figcaption>
          <figcaption>She/Her/Hers</figcaption>
      </figure>
      <p>Meet Yangdong Zhang! Yangdong is a sophomore from Shanghai majoring in Computer Science. Yangdong’s favorite CS field is Machine Learning. She also likes to go rock climbing and Ice Skating in her free time. To speak more with Yangdong, feel free to contact her at zhangyd@bu.edu</p>
    </div>
    <div class="column3">
      <figure style="text-align:center;">
          <img src="../static/ambassadors/Kelsey Myton.jpg" class="img-fluid" alt="Kelsey Myton.jpg" style="width:250px">
          <figcaption class="fw-bold">Kelsey Myton</figcaption>
          <figcaption>She/Her/Hers</figcaption>
      </figure>
      <p>Meet Kelsey Myton! Born in Jamaica and raised in New York, Kelsey is a Junior in CAS studying CS. Kelsey is the Partnerships Chair at TechTogether Boston. Her favorite CS fields include Web Development and Data Science. To speak more with Kelsey, contact her at kmyton@bu.edu!</p>
    </div>
  </div>
  <div class="row">
    <div class="column3">
      <figure style="text-align:center;">
          <img src="../static/ambassadors/Fangrui Huang.jpg" class="img-fluid" alt="Fangrui Huang.jpg" style="width:250px">
          <figcaption class="fw-bold">Fangrui Huang</figcaption>
          <figcaption>She/Her/Hers</figcaption>
      </figure>
      <p>Meet Fangrui Huang! Fangrui is a freshman from Guangzhou, China. She is in CAS studying Computer Science. Her favorite CS field is Machine Learning. She also loves to cook, read books and garden on her free time. Feel free to contact her at fangruih@bu.edu</p>
    </div>
    <div class="column3">
      <figure style="text-align:center;">
          <img src="../static/ambassadors/Evan Hsu.jpg" class="img-fluid" alt="Evan Hsu.jpg" style="width:250px">
          <figcaption class="fw-bold">Evan Hsu</figcaption>
          <figcaption>He/Him/His</figcaption>
      </figure>
      <p>Meet Evan Hsu! Evan is a freshman from Brookline, MA. He is in CAS studying Computer Science. His favorite CS field is Machine Learning. Evan is a member of the BU Jiu Jitsu Club and loves to play Basketball and Cello on his free time. Want to know more about Evan? Feel free to contact him evanlhsu@bu.edu</p>
    </div>
    <div class="column3">
      <figure style="text-align:center;">
          <img src="../static/ambassadors/Cici Chen.jpg" class="img-fluid" alt="Cici Chen.jpg" style="width:250px">
          <figcaption class="fw-bold">Cici Chen</figcaption>
          <figcaption>She/Her/Hers</figcaption>
      </figure>
      <p>Meet Cici Chen! Originally from Taiwan, Cici is a Sophomore in CAS double majoring in CS and Neuroscience. She is a member of several BU clubs, including Hack4Impact, the Association for Computing Machinery (ACM), and a Dance Theatre Group. Her favorite fields of CS are Data Science, Machine Learning, and Visualization. To speak more with Cici, contact her at iccchen@bu.edu!</p>
    </div>
  </div>
  <div class="row">
    <div class="column2">
      <figure style="text-align:center;">
          <img src="../static/ambassadors/Ansh Gupta.jpg" class="img-fluid" alt="Ansh Gupta.jpg" style="width:250px">
          <figcaption class="fw-bold">Ansh Gupta</figcaption>
          <figcaption>He/Him/His</figcaption>
      </figure>
      <p>Meet Ansh Gupta! Originally from India, Ansh is a Sophomore in CAS majoring in CS. He is a member of the BU MIC club and the Cricket club. He also really enjoys Machine Learning and Sports. To speak more with Ansh, contact him at aag101@bu.edu!</p>
    </div>
    <div class="column2">
      <figure style="text-align:center;">
          <img src="../static/ambassadors/Ben Lague.jpg" class="img-fluid" alt="Ben Lague.jpg" style="width:250px">
          <figcaption class="fw-bold">Ben Lague</figcaption>
          <figcaption>He/Him/His</figcaption>
      </figure>
      <p>Meet Ben Lague! Originally from San Fransico, CA, Ben is a Junior in CAS studying CS. His hobbies include participating in Boston Hacks and the freshman mini-hackathon, gaming, ping-pong, and exploring in search of good food. His favorite CS Fields include middleware, API work, and Data Science. To speak more with Ben, contact him at benlague@bu.edu!</p>
    </div>
  </div>
</div>
{% endblock %}