{% extends "layout.html" %}

{% block title %}
Events
{% endblock %}

{% block main %}

<div class="events">
  <div class="container-fluid">
    <div class="row">
      <div class="column1">
        <h2>Calendar</h2>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://calendar.google.com/calendar/embed?src=bucsambassadors@gmail.com&ctz=America%2FNew_York&amp;showTitle=0&amp;" style="border: 0" width="1080" height="600" frameborder="0" scrolling="no" class="embed-responsive-item">Loading...</iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column1">
        <h2>Orientation</h2>
        <p> If you are a freshman in the class of 2025, say no more! Whether you are looking for tips on navigating Boston, BU, or just Computer Science, our program may be just what you need to get the edge on college. Our Ambassadors have been trained as peer mentors in a variety of fields, including campus resources, career and internship readiness, and many coding tools used throughout the BU CS curriculum. Our program also hosts many social and informative events throughout the Fall semester to help freshmen engage with their peers, professors, and alumni. So what are you waiting for?
        </p>
        <div class="link"><a href="https://docs.google.com/forms/d/e/1FAIpQLScoXWhMNJ43GEYJiTkLTOqRh8-6522q7EuoYN7BEJ2vYBF7Mw/viewform" style="margin:0 30px 30px;padding:0 0 30px">
        Click here to sign up now!
        </a>
      </div>
    </div>
    <div class="row">
      <div class="column2">
        <h2>Info & Insights</h2>
        <p> Interested in studying CS? Questions about registering for classes? Curious about what pathways we offer? Join one of our Info and Insights Sessions, hosted by the CS Advising Staff with panelists from the CSAs and more! During these sessions, CS Advisors will discuss the ins and outs of the BU CS curriculum, how to apply AP/IB credit, the BU HUB, and more. These sessions also include a live Q&A with the CS Ambassadors and other key members of our academic community, allowing you to get the answers you’ve been searching for right from the students themselves. The Info and Insights sessions are a helpful introduction to the next few years of your life, and are held on the following days:
        </p>
        <div>
          <ul>
            <li><a>Wednesday, June 10th, 8am-9am EST</a></li>
            <li><a>Wednesday, June 17th, 7pm-8pm EST</a></li>
            <li><a>Wednesday, June 24th, 8am-9am EST</a></li>
          </ul>
        </div>
      </div>
      <div class="column2">
        <h2>Hacks & Hangouts</h2>
        <p> Hosted by the CS Ambassadors, Hacks and Hangout sessions are a place where incoming Freshmen and transfer students have the ability to get to know each other outside of the formal Orientation experience. Get to know possible mentors through interactions with upperclassmen in our program. Learn about popular courses and professors, low key beautiful locations in Boston, student preferences on housing and dorm essentials, and tips and tricks on how to get the most out of your BU experience. After answering your questions, get to know your peers through informal conversation, engage with one another through multiplayer games and activities, or even continue the diligent search for a roommate. The Hacks and Hangout sessions are each unique, and will be hosted on the Saturdays after each Orientation session:
        </p>
        <div>
          <ul>
            <li><a>Saturday, June 6th, 5pm-7pm EST</a></li>
            <li><a>Saturday, June 13th, 2pm-4pm EST</a></li>
            <li><a>Saturday, June 20th, 10am-12pm EST</a></li>
            <li><a>Saturday, June 27th, 2pm-4pm EST</a></li>
            <li><a>Saturday, July 7th, 4am-6am EST</a></li>
            <li><a>Saturday, July 27th, 4am-6am EST</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}