{% extends "layout.html" %}

{% block title %} Register/Apply {% endblock %}
{% block main %}

<h1> Forgot Password </h1>
  <p class="text-secondary">This is for members only!<p>
     <form action="/login" method="post">
        <div class="form-group m-2">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="email"/>
        </div>
        <div class="form-group m-2">
            <input autocomplete="off" autofocus class="form-control" name="confirm_email" placeholder="Confirm Email" type="email"/>
        </div>
    </form>

    <a class="text-secondary m-2" href={{ url_for("login") }}><p>Already have an account?</p></a>

{% endblock %}